*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainCont{
    height: 70%;
    width: 70%;
    border: 2px solid gold;
    border-radius: 5%;
    overflow: hidden;
}
#header{
    width: 100%;
    height: 10%;
    border: 1px solid black;
    display:  flex;
    justify-content: center;
    align-items: center;
}
#header > h3 {
    border: 1px solid rgb(114, 112, 100);
    text-align: center;
    width: 30%;
    background-color: rgb(223, 227, 223);
    color: rgb(100, 100, 33);
    
}
#body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    border: 1px solid red;
}
#body p {
    width: 80%;
}
#body > div {
    width: 50%;
    height: 100%;
    border: 1px solid wheat;
    display: flex;
    flex-direction: column;
    gap: 3%;
}
#body > div > div > p {
    border: 1px solid rgb(170, 170, 220);
    background-color: rgb(196, 145, 145);
    margin-left: none;
}
.screen {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3%;
}


#footer{
    width: 100%;
    height: 20%;
    border: 1px solid rgb(156, 156, 132);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    flex-direction: row;
}
#footer > div {
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid brown;
}
#footer > div > button{
    height: 90%;
    width: 100%;
    background-color: rgb(241, 218, 218);
}
#footer > div > div {
    border: 1px solid black;
    height: 8%;
    width: 80%;
}
#rock{
    background-position: center ;
    background-repeat: no-repeat;
    background-image: url('./imgs/rock.svg');
}
#paper{
    background-position: center ;
    background-repeat: no-repeat;
    background-image: url('./imgs/paper.svg');
}
#scissors{
    background-position: center ;

    background-repeat: no-repeat;
    background-image: url('./imgs/scissors.svg');
}
.score{
    margin-left: 5%;
    border: 1px solid gold;
    background-color: wheat;
    width: fit-content;
}

.line {
    width: 90%;
    height: 1%;
    background-color: red;
}